<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ethos_viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings configSource="connectionStrings.config"/>
    <userSettings>
        <ethos_viewer.Properties.Settings>
            <setting name="viewerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="viewerSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="mainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="mainSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="flowerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="flowerSize" serializeAs="String">
                <value>32, 32</value>
            </setting>
            <setting name="mainWindowState" serializeAs="String">
                <value>Minimized</value>
            </setting>
        </ethos_viewer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
